<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions for internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:hardwareAccelerated="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.RatingAndFeedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BestSellActivity"
            android:exported="false" />
        <activity
            android:name=".ui.products.SearchProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.orders.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.orders.OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.products.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.products.UpdateProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.products.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.products.ProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.categories.AddCategoryActivity"
            android:exported="false"
            android:label="@string/title_activity_add_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.categories.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.categories.UpdateCategoryActivity"
            android:exported="false" />
    </application>

</manifest>